/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}

ol, ul {
	list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*main CSS*/

:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Oswald', sans-serif;
}

html[data-theme='dark'] {
  --color-background: rgb(10, 10, 10);
  --color-background-second: rgb(75, 192, 80);
  --color-light_001: rgb(255, 255, 255);
  --color-light_002: rgba(255, 255, 255, 0.4);
}

html[data-theme='light'] {
  --color-background: rgb(243, 243, 243);
}

body {
  padding: 30px 80px;
  background-color: var(--color-background);
  font-family: var(--main-font);
}

/*header*/
.header {
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 55px;
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 129.6%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-light_001);
  background-color: var(--color-background-second);
  cursor: pointer;
}

.btn--cut-corners {
  clip-path: polygon(7% 0, 100% 0, 100% 82%, 92% 100%, 0 100%, 0 19%);
  transition: all .1s ease-in-out;
}

.btn--cut-corners:hover {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 100% 100%, 0 100%, 0% 30%);
}

.menu {
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 435px;
}

.menu::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 1px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.065) 0%, rgba(255, 255, 255, 0.25) 28.22%, rgba(255, 255, 255, 0) 102.26%);
}

.menu__item:not(:last-child) {
  margin-bottom: 60px;
}

.item-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-menu.active::before {
  content: '';
  background-color: var(--color-background-second);
  position: absolute;
  width: 3px;
  height: 100%;
  left: 44px;
  z-index: 1;
}

.item-menu__number {
  margin-right: 70px;
  font-family: var(--second-font);
  font-size: 12px;
  line-height: 153.52%;
  color: var(--color-light_002);
}

.item-menu__text {
  position: relative;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 153.52%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: transparent;
  cursor: pointer;
}

.item-menu__text::before, .item-menu__text::after {
	content: attr(data-heading);
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  color: var(--color-light_001);
  transition: all .1s ease-in-out;;	
}

.item-menu__text::before {
  clip-path: polygon(0 0, 100% 0, 100% 47%, 0 47%);
}

.item-menu__text::after {
  clip-path: polygon(0 53%, 100% 53%, 100% 100%, 0% 100%);
}

.item-menu.active .item-menu__number,
.item-menu.active .item-menu__text::after,
.item-menu.active .item-menu__text::before,
.item-menu:hover .item-menu__number,
.item-menu:hover .item-menu__text::after,
.item-menu:hover .item-menu__text::before {
  color: var(--color-background-second);
}

.item-menu:hover .item-menu__text::after {
  left: 5px;
}

.menu__line {
  background-color: var(--color-background-second);
  position: absolute;
  width: 3px;
  left: 44px;
  z-index: 1;
}